/**
 * Black theme for reveal.js. This is the opposite of the 'white' theme.
 *
 * By Hakim El Hattab, http://hakim.se
 */


// Default mixins and settings -----------------
@import "../template/mixins";
@import "../template/settings";
// ---------------------------------------------


// Include theme-specific fonts
@import url(../../lib/font/source-sans-pro/source-sans-pro.css);


// Override theme settings (see ../template/settings.scss)
$backgroundColor: #222;

$mainColor: #fff;
$headingColor: #fff;

$mainFontSize: 42px;
$mainFont: 'Source Sans Pro', Helvetica, sans-serif;
$headingFont: 'Source Sans Pro', Helvetica, sans-serif;
$headingTextShadow: none;
$headingLetterSpacing: normal;
$headingTextTransform: uppercase;
$headingFontWeight: 600;
$linkColor: #42affa;
$linkColorHover: lighten( $linkColor, 15% );
$selectionBackgroundColor: lighten( $linkColor, 25% );

$heading1Size: 2.5em;
$heading2Size: 1.6em;
$heading3Size: 1.3em;
$heading4Size: 1.0em;

section.has-light-background {
	&, h1, h2, h3, h4, h5, h6 {
		color: #222;
	}
}


// Theme template ------------------------------
@import "../template/theme";
// ---------------------------------------------

.reveal h1,
			.reveal h2 {
				font-family: 'Just Another Hand';
				text-transform: none;
				font-weight: 500;
			}

			.reveal h1 {
				font-size: 4em;
			}

			.reveal h2 {
				font-size: 2.5em;
			}

			.reveal h3,
			.reveal h4,
			.reveal p,
			.reveal section {
				font-family: 'Signika', 'Open Sans', sans-serif;
				font-weight: 200;
				text-transform: none;
			}

			.tomato {
				color: tomato;
			}

			.reveal blockquote {
				box-shadow: none;
				background: none;
				font-size: 1.7em;
				width: 100%;
			}

			.reveal .icon-list {
				list-style: none;
				display: flex;
				align-items: center;
			}

			.reveal .icon-list li  {
				margin: .5em;
				text-align: center;
			}

			.reveal .icon-list li .contain-height {
				max-height: 180px;
			}

			.reveal img {
				background: none !important;
				border: none !important;
				box-shadow: none !important;
				width: 100%;
      }
      
.reveal .about img {
  width: 300px;
  vertical-align: middle;
  margin: 30px; }